label {
  display: block;
}
.controllers {
  display: flex;
  gap: 1rem;
  button {
    position: relative;
    padding: 10px 30px;
    color: white;
    background: rgb(125, 0, 154);
    border-radius: 6px;
    border: none;
  }
}

.dialog-menu {
  --bg: #fff;
  --purple-500: rgb(147 102 255);
  --hoverColor: #1b1818;
  --textColor: #000000;
  --pop-up-menu-height: max-content;
  --pop-up-menu-width: max-content;
  --modal-gap: 1rem;
  position: relative;
  width: max-content;
  input[type="checkbox"] {
    display: none;
  }

  .close-layer {
    display: none;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.516);
    z-index: 12;
  }

  .pop-up-menu {
    display: none;
    position: absolute;
    width: var(--pop-up-menu-width);
    height: var(--pop-up-menu-height);
    min-width: 250px;
    max-width: 97vw;
    padding: 10px;
    overflow-y: auto;
    padding-bottom: 20px;
    border-radius: 0.5rem;
    z-index: 13;
    top: calc(100% + var(--modal-gap));
    background-color: var(--bg);
    box-shadow: 0px 0px 10px 0px var(--hoverColor);
    height: var(--pop-up-menu-height);
    opacity: 0;
    scale: 0;
  }

  .pop-up-menu:not([data-pos-x]) {
    left: 0px;
  }
  .pop-up-menu:not([data-pos-y]) {
    top: calc(100% + var(--modal-gap));
  }

  .pop-up-menu[data-pos-x="left"] {
    left: 0px;
  }
  .pop-up-menu[data-pos-x="right"] {
    right: 0px;
  }

  .pop-up-menu[data-pos-y="center"][data-pos-x="center"] {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .pop-up-menu[data-pos-y="top"] {
    top: calc(100% + var(--modal-gap));
  }
  .pop-up-menu[data-pos-y="bottom"] {
    bottom: calc(100% + var(--modal-gap));
    top: unset;
  }

  .pop-up-menu[data-pos-x="center"] {
    left: 50%;
    translate: -50% 0%;
  }
  .pop-up-menu[data-pos-y="center"] {
    top: 50%;
    translate: 0% -50%;
  }

  .pop-up-menu[data-full-mode="true"] {
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: var(--pop-up-menu-width);
    height: var(--pop-up-menu-height);
  }

  .pop-up-menu .list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .pop-up-menu .list .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: start;
    gap: 10px;
    font-size: 1rem;
    list-style: none;
    transition: color 0.2s, background-color 0.3s;
    padding: 10px 1rem;
    border-radius: 3px;
    color: var(--textColor);
  }

  .pop-up-menu .list .item:hover {
    color: #eee;
    background-color: var(--hoverColor);
  }

  #btn:not([unstyled="true"]) {
    position: relative;
    padding: 10px 30px;
    color: white;
    background: rgb(125, 0, 154);
    border-radius: 6px;
    transition: all 0.2s;
  }

  input[type="checkbox"]:checked ~ #btn {
    box-shadow: 0px 0px 1px 2px rgb(158 153 153 / 70%);
  }

  input[type="checkbox"]:checked ~ .close-layer,
  input[type="checkbox"]:checked ~ .pop-up-menu {
    display: block;
  }
  input[type="checkbox"]:checked ~ .pop-up-menu {
    transform-origin: var(--transform-origin);
    animation: pop-up 0.3s 1 forwards;
  }
  input[type="checkbox"]:checked ~ .close-layer {
    opacity: 0;
    animation: pop-up 0.55s 1 forwards;
  }
}

@keyframes pop-up {
  100% {
    scale: 1;
    opacity: 1;
  }
}
